.botao{
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 5px 50px;
  border: solid 1px;
  border-radius: 10px;
  transition: all 0.4s;
  border-color: #DDB936;
  background-color: #DDB936;
  font-family: 'Abel', sans-serif;

}

.botao:hover{
  color: #161A1E;
  border: solid 1px;
  padding: 5px 60px;
  border-color: #fff;
  transition: all 0.4s;
  background-color: #ddb936c5;
}