@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    background-color: #161A1E;
}